#container {
}

#nav {
	float: right;
	width: 200px;
	padding-top: 15px;
}

#titlebar {
	background: #000;
	height: 50px;
}

#titlebar h3 {
	color: #FFF;
	float: left;
	margin: 0;
	padding: 15px 0 0 5px;
	width: 304px;
}

#header{
	font-weight: bold;
	font-size: 150%;
}

#content {
	padding: 0 5px 0 5px;
}

input {
	display: block;
}

.notelist {
	list-style-type: none;
}

ul.tags, ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
}

.noteinput {
	display: block;
}


.spacer {
	clear: both;
	height: 10px;
}

.titleDivider {
	color: #06c;
}

