body {
	margin-top: 45px;
}

#container {
}

#nav {
	float: right;
	width: 250px;
	padding-top: 10px;
}

#titlebar {
	background: #000;
	height: 50px;
}

#titlebar h3 {
	color: #FFF;
	float: left;
	margin: 0;
	padding: 10px 0 0 5px;
	width: 304px;
}

#header{
	font-weight: bold;
	font-size: 150%;
}

#content {
	padding: 0 5px 0 5px;
}

#tag-cloud {
	text-align: center;
}

#tag-cloud a {
	margin: 0 0.2em;
}

.tag-cloud-0 { font-size: 100%; }
.tag-cloud-1 { font-size: 120%; }
.tag-cloud-2 { font-size: 140%; }
.tag-cloud-3 { font-size: 160%; }
.tag-cloud-4 { font-size: 180%; }
.tag-cloud-5 { font-size: 200%; }

input {
	display: block;
}

.notelist {
	list-style-type: none;
}

ul.tags, ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
}

.noteinput {
	display: block;
}


.spacer {
	clear: both;
	height: 10px;
}

.titleDivider {
	color: #06c;
}

#search-results {
	margin-top: 10px;
}

ul.notelist .edit {
	font-size: 70%;
	color: #000;
}

.welcome {
	font-weight: bold;
	color: #06c;
}