#container {
}

#nav {
	float: right;
	width: 200px;
}

#titlebar {
	background: blue;
}

#titlebar h3 {
	float: left;
	margin: 0;
	padding: 0;
	width: 400px;
}

input {
	display: block;
}

.notelist {
	list-style-type: none;
}

ul.tags, ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
}

.noteinput {
	display: block;
}


.spacer {
	clear: both;
}

