{% if notes %}
	<ul class="notelist">
		{% for note in notes %}
			<li class="notelist">	
				Title:
				<a href="/user/{{ note.user.username }}/note/{{ note.id }}">{{ note.title|escape }}</a>
				{% if show_edit %}
					<a href="/save/?title={{ note.title|escape }}"
						class="edit">[edit]</a>
				{% endif %}
				<br />
				{% if show_tags %}
					Tags: <span style="font-weight:bold">(</span>
					{% if note.tag_set.all %}
						<ul class="tags">
							{% for tag in note.tag_set.all %}
								<li>
									<a href="/tag/{{ tag.name|urlencode }}/">{{ tag.name|escape }}</a>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						None.
					{% endif %}
					<span style="font-weight:bold">)</span>
					<br />
				{% endif %}
				{% if show_user %}
					Posted by:
					<a href="/user/{{ note.user.username }}/" class="username">{{ note.user.username }}</a>
				{% endif %}
				Votes: {% for vote in note.vote_set.all %}
						{{ vote.votes }}
					  {% endfor %}
			</li>
			<br />
		{% endfor %}
	</ul>
{% else %}
	<p>No notes found.</p>
{% endif %}