{% extends "base.html" %}
{% block external %}
	<link rel="stylesheet" href="/site_media/autocomplete/jquery.autocomplete.css" type="text/css" />
	<script type="text/javascript" src="/site_media/autocomplete/dimensions.js"></script>
	<script type="text/javascript" src="/site_media/autocomplete/jquery.bgiframe.min.js"></script>
	<script type="text/javascript" src="/site_media/autocomplete/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/site_media/tag_autocomplete.js"></script>
{% endblock %}
{% block title %}Save Note{% endblock %}
{% block head %}Save Note{% endblock %}
{% block content %}
	<div id="save_buttons">
		<form method="post" action="."> {% csrf_token %}
			{{ form.as_p }}
			<div id="save_button">
				<input type="submit" value="save" class="btn" />
			</div>
		</form>
		{% if uploadForm %}
			<div id="import_button">
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					import
					<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<form method="post" action="." enctype="multipart/form-data"> {% csrf_token %}
							<div id="uploadFileForm">
								<br />
								{{ uploadForm.upFile }}
								<input type="submit" value="import" name="import" class="btn" />
								<!--
								{% if required %}
									<span style="font-weight:bold; color: #F00;">{{ required }}</span>
								{% endif %}
								-->
							</div>
						</form>
					</ul>
				</div>
			</div>
		{% endif %}
		{% if uploadForm %}
			<div id="cancel_button"> <!-- fix for padding issue for save button input div -->
		{% else %}
			<div id="cancel_button_uploadForm">
		{% endif %}
				or <a href="/user/{{ user.username }}">cancel</a>
			</div>
	</div>
{% endblock %}