{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block head %}
	{{ note.title }}
	{% for vote in note.vote_set.all %}
		<a title="vote for this note" href="/vote/?id={{ vote.id }}">[+]</a>
	{% endfor %}
{% endblock %}

{% block content %}
		<p><pre>{{ note.note }}</pre></p>
		<br /><br />
		<h3>Comments:</h3>
			{% if comments %}
				<br />
			{% endif %}
			<div id="comments">
			{% for comment in comments %}
				{% include 'note_comment.html' %}
			{% empty %}
				<div id="no_comments">
					No comments yet.
					<br /><br />
				</div>
			{% endfor %}

		</div>
		
		{% if user.is_authenticated %}
			<a id="add_comment">Write a Comment</a>
				<div id="comments_errors"></div>
			<div id="comment_form">
				<table>
					{% for field in comment_form %}
						{% if field.name != 'content' %}
							{{ field.label }}
						{% endif %}
						{{ field }}
					{% endfor %}
					<tr><td colspan="2">
						<input type="hidden" id="id_note" value="{{ note.id }}" />
						<input type="submit" id="submit_comment" value="Submit" />
						<input type="submit" id="cancel_comment" value="Cancel" />
					</td></tr>
				</table>
			</div>
		{% else %}
			<a href="{% url login %}?next={{ request.path }}">Log in to add a comment.</a>
		{% endif %}
		<br /><br />
	
{% endblock %}
{% block external %}
	<script type="text/javascript" src="/site_media/comments.js"></script>
{% endblock %}