{% extends "base.html" %}
{% block external %}
	<link rel="stylesheet" href="/site_media/autocomplete/jquery.autocomplete.css" type="text/css" />
	<script type="text/javascript" src="/site_media/autocomplete/dimensions.js"></script>
	<script type="text/javascript" src="/site_media/autocomplete/jquery.bgiframe.min.js"></script>
	<script type="text/javascript" src="/site_media/autocomplete/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/site_media/tag_autocomplete.js"></script>
{% endblock %}
{% block title %}Save Note{% endblock %}
{% block head %}Save Note{% endblock %}
{% block content %}
	<div id="save_buttons">
		<form method="post" action="."> {% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="save" class="btn" />
		</form>
		<form method="post" action="." enctype="multipart/form-data"> {% csrf_token %}
			<input type="submit" value="import" name="import" class="btn" />
		</form>
	</div>
{% endblock %}